h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}

.NUJHAT{
 color: orange;
}
.color-nevy{
    color: navy;
}
.Text{
    text-align: center;
}
.flexible-area{
    display: flex;
    margin: 150px;
}
.flexible-item{
    display: flex;

}
.h-width{
    width: 33%;
    box-shadow: oldlace;
}
   
}
.half-width{
    width: 50%;
}
.half-width img{
    width:80%;
    padding left: 10px;

}
.link-button{
    text-decoration: none;
    background-color: red;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}

.centre{
    text-align: center;
}
.global-community{
    background-image: url(images/background2.png);
    background-repeat: no-repeat;
    background-position:right;
}
    .final{
        text-align: center;
        background-color: black;
    }
    .color{
        color: white;
    }
.width{
    width: 25%;
    box-shadow:10px 1opz 10px thistle;
    border: solid;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;

}
.width img{
    width: 40%;
    padding-left: 10px;

}