h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}

.NUJHAT{
 color: orange;
}
.color-nevy{
    color: navy;
}
.Text{
    text-align: center;
}
/* .flexible-area{
    display: flex;
    margin: 150px;
} */
.flexible-item{
    display: flex;

}
.h-width{
    width: 33%;
    box-shadow: oldlace;
}
.mission-flexible-area{
    display: flex;
    margin-top: 150px;
    justify-content: space-around;
}

.half-width{
    width: 40%;
}
.half-width img{
    width:60%;
    padding-left: 10px;
    margin-top: -150px;

}
.mission-head{
    margin-top: -150px;
    border-left: 3px solid tomato;
    padding-left: 20px;
    
}
.mission-head h1{
    font-size: 50px;
}
.mission-head h2{
    margin-top: -30px;
    color: rgba(244, 248, 29, 0.849);
    font-size: 40px;
}
.explore-btn{
    margin-top: 50px;
}
.link-button{
    text-decoration: none;
    background-color: red;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
}

.centre{
    text-align: center;
}
.global-community{
    /* background-image: url(images/background2.png); */
    background-repeat: no-repeat;
    background-position:right;
}
    .final{
        text-align: center;
        background-color: black;
    }
    .color{
        color: white;
    }
.width{
    width: 25%;
    box-shadow:10px 1opz 10px thistle;
    border: solid;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
}

.width img{
    width: 40%;
    padding: 10px;
}

.develop{
    background-image: url(images/shape-1.png);
}
.Develop-section{
    display: flex;
    margin-top: 200px;
    justify-content: space-around;
}
.develop-text{
    margin-top: -150px;
}
.global-community{
    display: flex;
    margin-top: 250px;
    justify-content: space-around;
    background-size: 10%;
}
.gobla-img{
    width: 5%;
}
.global-text{
    margin-top: -200px;
    margin-left: 50px;
}
.global-img{
    position: relative;
    width: 40%;
    margin-top: -150px;
    margin-left: 150px;
    z-index: 99;
}
.circle-shape{
    position: relative;
    width: 20%;
    margin-left:400px;
    margin-top: -100px;
    z-index: 2;
}
.flexible-corona-section{
    display: flex;
    justify-content: space-between;
}

.corona-section-image{
    width: 40%;
    margin-left: -250px;
}
.last-text{
    font-size: 16px;
}